

.NeedHidden {

  visibility:hidden
}

.home-title {
  font-size: 300%;
  text-align: center;
}
.subtitle {
  font-size: 150%;
  text-align: center;
  padding:50px;
}

.email {

  color: #FF0000
}

.footer-w3l {
    margin: 120px 0 15px 0;
}
.footer-w3l p{
	font-size:14px;
	text-align:center;
	color:#000000;
	line-height:27px;
}
.footer-w3l p a{
	color:#000000;
}
.footer-w3l p a:hover{
	text-decoration:underline;
}

@media screen and (max-width: 1024px) {
	.footer-w3l {
		margin: 80px 0 15px 0;
	}
}

@media screen and (max-width: 568px) {

	.footer-w3l {
		margin: 40px 0 15px 0;
	}
}
@media screen and (max-width: 480px) {
	.footer-w3l p {
		font-size: 13px;
	}
}
